---
import ParticlesHeader from "../components/ParticlesHeader";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my portfolio" description="Welcome to my portfolio">
  <div class="fixed">
    <div class="profileInfo">
      <ParticlesHeader client:idle />
      <div class="info">
        <div class="data">
          asdas
        </div>
      </div>
    </div>
  </div>
</Layout>
