---
import { Image } from "astro:assets";
import ParticlesHeader from "../components/ParticlesHeader";
import Layout from "../layouts/Layout.astro";
import DescriptionCard from "../components/DescriptionCard";
import GHCard from "../components/GHCard.astro";
import ProjectsList from "../components/ProjectsList.astro";
import Stack from "../components/Stack.astro";
import ExpList from "../components/ExpList.astro";
---

<Layout title="Welcome to my portfolio" description="Welcome to my portfolio">
  <ParticlesHeader client:idle />
  <div class="relative z-50 mt-[-150px]">
    <div class="w-screen sm:flex sm:flex-row">
      <Image
        src="/profile.webp"
        alt="Gil DN profile picture"
        width="200"
        height="200"
        class="rounded-full mx-auto sm:ml-20 sm:mx-0"
      />
      <div class="flex flex-col m-auto ml-2">
        <h1 class="text-4xl font-bold text-center sm:text-left">Gilberto DN</h1>
        <p class="text-center sm:text-left">Software Engineer</p>
        <p class="text-center sm:text-left">@davalosng</p>
      </div>
      <div class="align-end sm:mr-10 flex flex-col m-auto">
        <DescriptionCard client:idle />
      </div>
    </div>
    <div>
      <div
        class="relative z-10 mt-10 grid grid-cols-1 md:grid-cols-3 gap-4 h-[550px]"
      >
        <div class="col-span-1 md:col-span-1">
          <GHCard is:raw />
        </div>
        <div class="col-span-1 md:col-span-2 sm:overflow-auto">
          <Stack />
          <ExpList />
          <ProjectsList />
        </div>
      </div>
    </div>
  </div>
</Layout>
